*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 25px;
    background-color: #2F323A;
    color: white;
}

.banner-construcao{
    height: 225px;
    background-image: linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)100%), url(../img/construcao.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Saira', sans-serif;
    align-items: center;
    margin-bottom: 2rem;
}

.gradiente{
    height: 5rem;
    background: linear-gradient(#2F323A, rgb(13, 46, 74, 1) 100%);
}
