*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 25px;
    background-color: #2F323A;
    color: white;
}

.banner-jogos{
    height: 225px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/jogos1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Saira', sans-serif;
}

.banner-jogos h1{
    text-align: center;
}

.imagem_compra{
    width: 210px;
    height: 120px;
    opacity: 0.7;
    transition: 400ms;
}

.imagem_compra:hover {
    width: 240px;
    height: 139px;
    opacity: 1.0;
    transition: 400ms;
}